#container {
	width: 340px;
	min-height: 400px;
	overflow: auto;
}

#audio-img {
	position: relative;
	overflow: hidden;
	height: 200px;
	width: 200px;
	margin-bottom: 15px;
}

.cover {
	width: 100%;
	z-index: 1;
}

#audio-buttons{
	width:90%;
	display: block;
    margin: 15px auto;
	margin-left:23px;
	overflow:auto;
}

/*#progressbar {
	width: 75%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	height: 10px;
	background: url(../img/progress_bg.png) no-repeat;
	float: left;
}

#progress {
	background: url(../img/progress.png) no-repeat;
	height: 10px;
	display: inline-block;
	position: absolute;
	top: 9px;
	left: 8px;
}*/

button#play{
}

button#pause{
}

button#stop{
}

button#prev{
}

button#next{
}